body{
    font-family: 'Poppins', sans-serif;
}
.nav_section, .top_section{
    background-color: #F0FFF0;
}
.container{

}
.logo img{
    width: 7em;
}
.button{
    background-color: #21B573;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 16px;
    margin-top: 8px;
    font-size: 15px;
    padding: 4px 20px;
}
.nav-item{
    margin-right: 20px;
}
.top_section{
    padding: 15px 0px;
}
.top_section img{
    width: 90%;
}
.top_content{

}
.top_content p span{
    color: #F26B49;
}
.top_content h1{
    font-size: 48px;
    font-weight: bold;
}
.top_content h1 span{
    color: #21B573;
}
.icon_card .card {
    box-shadow: 4px 4px 8px 8px rgb(190, 188, 188);
    border: none;
    border-radius: 15px;
}
.icon_card{
    padding: 25px 0px;
}
.icon_img {
    width: 70px;
    height: 100px;
    padding-top: 30px;
}
.course_section, .testimonial_section{
    padding: 40px 0px;
}
.course_section h1, .testimonial_section h1 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}
.course_section .card-body{
    padding:16px 0px;
}
.course_section .card {
    padding: 16px 16px 0px 16px;
    border: none;
    box-shadow: 4px 4px 13px 13px rgb(207 205 205);
    border-radius: 15px;
}
.course_img{

}
.card-footer{
    padding: 8px 0px;
    background: white;
    border: none;
}
.card-footer img{
     width: 25px;
}
.card-footer p {
    margin: 2px 0px 0px 0px;
}

.testimonial_content img{
    width: 21%;
    float: right;
}
.testimonial_content p{
    font-size: 14px;
}
.footer_section{
    color: white;
    background: black;
    padding: 30px 0px;
}
.footer_section h5{
    font-weight: bold;
}
.footer_section p{
    margin: 2px;
    font-weight: 500;
}
.copyright{
    text-align: center;
    padding-top: 32px;
}